node_modules
package-lock.json
yarn.lock
.tanstack/
.nitro/
logs/

.DS_Store
.cache
.env
.env.development
.env.production

.data
.vercel
.output
.vinxi
.wrangler
.netlify
.drizzle/
dist
/build/
/api/
/db/build
/public/build


coverage/
.aider*
