node_modules
package-lock.json
yarn.lock

.DS_Store
.cache
.env
.env.development
.env.production

.data
.vercel
.output
.vinxi
.wrangler
.netlify
.drizzle/
dist
/build/
/api/
/server/build
/public/build

# docker-compose db:w
db

coverage/
.aider*
